{% extends 'base.html.twig' %}

{% block title %}
    News details
{% endblock %}

{% block body %}

    <style>
        .image {
            width: 10em;
        }
    </style>
    <div><p>{{ news.title }}</p></div>
    <div><img src="{{ news.imageUrl }}" class="image"/></div>
    <div>{{ news.body }}</div>

{% endblock %}
